
.MeinInfo{
    font-style: normal;
    font-weight: normal;
    width: 324px;
    grid-area: DP;
}
.Delivery{
    height: 288px;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #CED2E1;
}
.DeliveryType{
    padding: 22px 0 0 30px;
    font-size: 20px;
    line-height: 27px;
}
.DeliveryTypeData{
    padding: 12px 0 0 29px;
}
.DeliveryTypeItem{
    margin-bottom: 1px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #848DAF;
}

.DeliveryRadio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.DeliveryRadio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.DeliveryRadio+label::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ADB6D8;
    border-radius: 50%;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.DeliveryRadio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.DeliveryRadio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.DeliveryRadio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.DeliveryRadio:checked+label::before {
    color: #6739ff;
    background-color: #243DA1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.DeliveryRadio:checked+label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.DeliveryAddress{
    width: 269px;
    margin: 12px 0 0 30px;
}
.DeliveryAddressTitle{
    font-size: 12px;
    line-height: 16px;
    color: #848DAF;
}
.DeliveryAddressLoca{
    padding: 3px 0 9px 0;
    font-size: 14px;
    line-height: 19px;
}
.DeliveryAddressButtonItem{
    width: 89px;
    height: 30px;
    border: 1px solid #ADB6D8;
    border-radius: 3px;
}
@media screen and (max-width: 1280px) {
    .Delivery{
        width: 266px;
    }
    .DeliveryAddressLoca{
        width: 197px;
    }
}
@media screen and (max-width: 720px) {
    .MeinInfo{
        order: 1;
    }
    .Delivery{
        width: 290px;
        margin: 0 auto 30px auto;
        border: none;
       height: auto;
    }
    .DeliveryType{
        background:  #EFF5F8;
    }
    .DeliveryMedia{
        border-radius: 6px;
        border: 1px solid #CED2E1;

    }
    .DeliveryTypeData{
        display: flex;
        padding: 16px 0 0 0;

    }
    .DeliveryTypeItem{

        font-size: 12px;
    }
    .DeliveryTypeItem label{
        display: inline-block;
    }
    .DeliveryRadio+label::before {
        display: block;
        margin: 0 auto;
        width: 16px;
        height: 16px;
    }
    .DeliveryRadio:checked+label {
        font-size: 12px;
    }
    .DeliveryRadio{
        margin: 0 auto;
    }
    .DeliveryAddress{
        width: 269px;
        margin: 0;
        padding:16px 0 0 18px;
    }
    .DeliveryTypeItem {
        text-align: center;
    }
    .DeliveryTypeItem:nth-child(1){
        width: 80px;
        padding-left: 9px;
        
    }
    .DeliveryTypeItem:nth-child(2){
        width: 100px;
    }
    .DeliveryTypeItem:nth-child(3){
        padding-left: 7px;
        width: 70px;
    }
    .DeliveryAddressTitle{
        font-size: 9px;
    }
    .DeliveryAddressLoca{
        font-size: 12px;
    }
    .DeliveryAddressLoca{
        margin-top: -4px;
        width: 244px;
        padding: 0;
    }
    .DeliveryAddressButtonItem{
        margin: 6px 0 18px 0;
    }
    .DeliveryType{
        padding: 8px 0 8px 0px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
}